<!-- margin,padding,borders -->
<div class=" text-black my-[67px]  flex">
    
    <div class=" grid-cols-4 ">
        <h1 class="text-black  font-bold text-center text-2xl">Mobile</h1>
   <div>
    <img src="../../assets/logo-image.jpg" alt="" srcset="">
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, error.</p>
   </div>
   </div>

   <div class=" grid-cols-4 "  >
    <h1 class="text-black  font-bold text-center text-2xl ">Location</h1>
    <img src="../.././assets/phone-man.png" alt="" srcset="">
</div>
<div class=" grid-cols-4" >
    <h1 class="text-black  font-bold text-center text-2xl">Address</h1>
    <img src="../.././assets/logo-image.jpg" alt="" srcset="">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, error.</p>
</div>


</div>


<div class="m-36 text-center">
    <button class="text-sm px-4 py-2 bg-purple-800 text-white rounded-md sm:hover:bg-purple-700
    lg:hover:bg-green-600 active:bg-purple-900 focus:outline-red-700 items-center">Submit Now</button>
</div>

<app-facebook-clone></app-facebook-clone>


