<nav class="bg-blue-900 text-white">
    <span class="text-xl   mx-3  font-bold">
        PhoneMania
    </span>
    
    
    
    <ul class="px-28 py-4 flex space-x-11 justify-end">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">About</li>
        <li class="cursor-pointer">Catalogue</li>
        <li class="cursor-pointer">Contect Us</li>
    </ul>
</nav>

<main class="bg-fuchsia-100 flex justify-between">
    <div class="main py-20 pl-9 ">
    <div class="text-4xl">
        The best phone in the town
    </div>
    <p class="py-3 w-1/3">Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Maxime tempore, vel harum aliquam minima 
        animi qui esse quidem laboriosam ex molestiae 
        earum distinctio at sunt eaque? Accusantium 
        error quas ut?</p>

        <div class="buttons">
            <button class="bg-purple-800 px-3 py-2 rounded-2xl text-white hover:bg-fuchsia-700">Buy Now</button>
            <button class="bg-sky-700 px-3 py-2 rounded-2xl text-white hover:bg-fuchsia-700 ml-5">Contect Us</button>
        </div>
    </div>
    <div class="flex items-center mr-40 ">
        <img src="../.././assets/phone-man.png" class="h-80" alt="" srcset="">
    </div>
</main>

<app-demo-tailwind></app-demo-tailwind>
